<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>Data Visualization</title>
</head>
<body>
    <h1>Data Visualization</h1>

    <!-- Display data in table format -->
    {{ table_html | safe }}

    <!-- Display graphs -->
    {% for chart_url, column in chart_data %}
    <h2>{{ column }}</h2>
    <img src="data:image/png;base64,{{ chart_url }}" alt="{{ column }}">
    {% endfor %}
</body>
</html>
